.nav{
  li {
    a:hover{
      background-color: white;
    }
    a{
      font-size: 20px;
      color: grey;
    }
  }
  border: grey;
}

.header{
  padding: 25px;
  border-bottom: 1px;
  border-bottom-style: solid;
  border-bottom-color: grey;
}

.main{

  display: none;

  .right-panel{
    margin: 35px;
    background-color: grey;
    height: 400px;
    width: 600px;
  }
  .left-panel{
    margin: 35px;
    height: 400px;
    width: 425px;
    h2 {
      padding: 25px;
      font-size: 60px;
    }
    p{
      color: grey;
    }
  }
}

.active-slide {
  display: block;
}

.carousel{
  font-size: 25px;
  a ul {
    list-style:none;
    display: inline-block;
  }
  .active-dot{
    color: red;
  }
  a{
    color: black;
  }

}

